#wrapper {
background: gray;
width: 90%;
max-width: 8000px;
margin: 20px auto;
box-shadow: 0 0 10px rgba(0,0,0,.1);
font-family: 'Raleway', sans-serif;

}
header {
  height: 100px;
  background-color: #696969;
  color: #FFF;
/*  border-bottom: 5px solid #DAA520;*/
  padding-left:100px;
  width: 92%;
  left: 8px;
  top: 0;
  position: fixed;
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
}

.icon{
  width: 150px;
  height: 100px;
  margin:0;

}


h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  }

body{
  background-color: #696969;
  padding-top: 80px;
  font-family: 'Raleway', sans-serif;
  }


footer {

  padding: 20px 0;
  border-top: 5px solid #DAA520;
  font-family: 'Raleway', sans-serif;
}

footer p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}



nav {
  float: right;
  width: 80%;
  padding-top:50px;
  font-family: 'Raleway', sans-serif;
}

nav ul {
  list-style: none;
  list height:  normal;
  margin-bottom: 10px;
  margin: 10px 0 0 10px;
  font-family: 'Raleway', sans-serif;
}

nav li {
  display: inline;
  margin: 1px 0 0 1px;
  font-family: 'Raleway', sans-serif;

}

nav a, #VM{
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  background-color:  #DAA520;
  padding: 5px;
  border-radius:20px;
  font-family: 'Raleway', sans-serif;


}

aside.der{
border-color:#DAA520;
font-family: 'Raleway', sans-serif;

}

#api{
margin:50px
border: 50px;
background-color: #DAA520;
font-family: 'Raleway', sans-serif;

}


.sinopsis img {
  width: 200px;
  height: 300px;
  float: left;
  font-family: 'Raleway', sans-serif;

}

article.sinopsis{
/*border-bottom: 5px solid #DAA520;*/
border-bottom: 10px solid #696969;
margin-right: 300px;
font-family: 'Raleway', sans-serif;
}

div.sinp {
float: center;
margin-bottom: 180px;
font-family: 'Raleway', sans-serif;
}

div.elevator-button {
  float: right;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 10px;
  text-decoration: none;
  color: white;
  background-color:  #DAA520;
  padding: 5px;
  border-radius:12px;
  font-family: 'Raleway', sans-serif;

}

li.trailer{

margin-top: -70px;
left: 410px;
float: inherit;

font-family: 'Raleway', sans-serif;
}

.est{
  position: fixed;
  float: right;
  width: 92%;
  left: 75%;
  top: 20%;
  padding-right:150px;
  font-family: 'Raleway', sans-serif;


}
.est h2{
  padding:0 1000px 0 0;
}
.est img{
  width: 100px;
  height: 150px;
}

h2{
  color: #DAA520;
}

h3{
  color: black;
}

p{
  color:white;
}
#VM{
  padding: 5px;
  margin:30px 80% 0 140px;
  border-radius:12px;
  text-decoration: none;
  text-transform: uppercase;

}
